[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multinomineq"]
	path = multinomineq
	url = https://github.com/danheck/multinomineq
	shallow = true
	registered = true
[submodule "TreeBUGS"]
	path = TreeBUGS
	url = https://github.com/danheck/treebugs
	shallow = true
	registered = true
