[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MCMCprecision"]
	path = MCMCprecision
	url = https://github.com/danheck/mcmcprecision
	shallow = true
	registered = true
[submodule "TreeBUGS"]
	path = TreeBUGS
	url = https://github.com/danheck/treebugs
	shallow = true
	registered = true
[submodule "metaBMA"]
	path = metaBMA
	url = https://github.com/danheck/metabma
	shallow = true
	registered = true
[submodule "multinomineq"]
	path = multinomineq
	url = https://github.com/danheck/multinomineq
	shallow = true
	registered = true
[submodule "RRreg"]
	path = RRreg
	url = https://github.com/danheck/rrreg
	shallow = true
	registered = true
